.chat-main
  .chat-main__group
    
    .chat-main__group--name
      name
      .chat-main__group--name--member
        Member :
    .chat-main__group--edit
      = link_to "#", class: "btn-edit" do
        Edit
  .chat-main__message-list

  .chat-main__message-form