.wrapper{
  display: flex;
}

$siro: #ffffff;
$aqua: #38aef0;
.sidebar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
  float: left;
  &__usename{
    height: 100px;
    width: 300px;
    position: relative;
    &__top-items{
      color: $siro;
      height: 20px;
      width: 260px;
      position: absolute;
      top: 40px;
      left: 20px;
      display: flex;
      &__name{
        width: calc(100% - 60px);
        height: 20px;
        line-height: 20px;
      }
      &__icons{
        width: 60px;
        height: 20px;
        text-align: right;
        line-height: 20px;
      }
    }
  }
  &__chatlist{
    background-color: #2f3e51;
    height: calc(100% - 100px);
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    color: $siro;
    font-weight: bold;
    &__group {
      text-decoration: none;
      color: $siro;
      &__name{
      font-size: 15px;
      margin-bottom: 5px;
      text-decoration: none;
      color: $siro;
      }
      &__message{
        font-size: 11px;
        margin-bottom: 40px;
        text-decoration: none;
        color: $siro;
      }
    }
    
  }
}

.group{
  text-decoration: none;
}

.icon{
  color: $siro;
  text-decoration: none;
  text-align: right;
  margin-left: 5px;
}

.chat-main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: $siro;
  float: right;
  &__group{
    height: 100px;
    width: calc(100vw - 300px);
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;

    &--name{
      color: #333333;
      font-size: 20px;
      width: calc(100% - 72px);
      padding-top: 35px;
      box-sizing: border-box;
      &--member{
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    &--edit{
      font-size: 16px;
      width: 72px;
      height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      line-height: 40px;
      border: 1px solid $aqua;
      
    }
  }

  &__message{
    width: calc(100vw - 300px);
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px;
    &__list{
      padding-bottom: 46px;
      &__info{
        width: 100%;
        display: flex;
        &--name{
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &--date{
          font-size: 12px;
          color: #999999;
          text-align: top;
          margin-left: 10px;
        }
      }
      &--message{
        color: #434A54;
        font-size: 14px;
        margin-top: 12px;
      }
    }
  }


  &__message__form{
    width: calc(100vw - 300px);
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    &__new__message{
      display: flex;
      width: 100%;
      &__inputbox{
        width: 100%;
        position: relative;
      }
    }
  }
}

.btn-edit{
  color: $aqua;
  text-decoration: none;
}

.textarea{
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    color: #434a54;
    border-style: none;
}

.inputbox__img{
  font-size: 1.3rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.file{
  display: none;
}

.btn-submit{
  background-color: $aqua;
  color: $siro;
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
}

* {
  box-sizing: border-box;
}
